body {
    background-color: #000;
    margin: 0;     /* Kenar boşluklarını sıfırla */
    padding: 0;
    overflow: hidden; /* Kaydırma çubuklarını (Scrollbar) gizle */
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    display: block; /* Canvas altındaki minik boşluğu siler */
    background-color: #000;
    /* width ve height'i JS ile ayarlayacağız */
}