/* style.css - Masaüstü Versiyon */

body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Kaydırma çubuklarını gizle */
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    border: 4px solid #fff;
    background-color: #000;
    /* Neon parlaması */
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.2); 
    display: block;
}